body:not(.wp-core-ui),
html:not(.wp-toolbar),
.acf-block-preview {
	footer {
		background: linear-gradient(180deg, #2E1082 0%, #53389E 100%);
		padding: 32px 0px;
		padding-bottom: 70px;
		@media only screen and (max-width: 1250px) {
			margin-top: 120px;
		}
		.wrapper {
			display: flex;
			gap: 20px;
			width: 53%;
			color: #fff;
			flex-wrap: wrap;
			line-height: 150%;
			@media only screen and (max-width: 1250px) {
				width: 100%;
			}
			a {
				color: #fff;
				text-decoration: none;
			}
			& > * {
				width: calc(33.333333% - 14px);
				@media only screen and (max-width: 991px) {
					width: 100%;
					gap: 50px;
				}
			}
		}
		.heading-1 {
			font-weight: 500; 
			color: #fff;
			margin-bottom: 16px;
		}
	}
}