body:not(.wp-core-ui),
html:not(.wp-toolbar),
.acf-block-preview {
    .blog {
        padding: 32px 0px;
        text-align: center;

        .heading-2,
        .heading-5 {
            margin-bottom: 16px;
        }

        .wrap-blog {
            margin-top: 32px;
            display: flex;
            gap: 32px;

            .single-item {
                .heading-5 {
                    margin: 32px 0px;
                }

                .btn-rounded {
                    margin-top: 32px;
                }
            }
        }
    }
}