.acf-field-ulepszony-naglowek-select {
    width: 30%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.acf-field-ulepszony-naglowek-text {
    margin-left: 15px;
    width: calc(70% - 15px);
    float: left;
    box-sizing: border-box;
}