header#header {
  z-index: 100;
  position: absolute;
  margin: auto;
  top: 0;
  width: 100%;
  padding: 24px 0;
  background-color: #fff;
  box-shadow: 32px 32px 64px 0px rgba(52, 64, 84, 0.08);

  @media (max-width: 991px) {
    padding: 10px 0;
  }

  .et-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    color: #000;
    text-decoration: none;

    svg {
      width: 122px;
      height: auto;
    }

  }

  .header-nav {
    @media (max-width: 991px) {
      display: none;
    }

    &-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 42px;
      align-items: center;

      .menu-item {
        position: relative;
        cursor: pointer;

        &:last-child {

          a {
            background-color: #000;
            padding: 8px 16px;
            color: #fff;
            font-size: 16px;
            ;
          }
        }

        a {
          color: #000;
          text-decoration: none;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }

      .current-menu-item,
      .current_page_parent {
        &:after {}
      }
    }
  }

  .hamburger {
    @media (min-width: 992px) {
      display: none;
    }

    width: 50px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #000;
      stroke-width: 5.5;
      stroke-linecap: round;
    }

    .top {
      stroke-dasharray: 40 160;
    }

    .middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }

    .bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }

    &.active {
      transform: rotate(45deg);

      .top {
        stroke-dashoffset: -64px;
      }

      .middle {
        transform: rotate(90deg);
      }

      .bottom {
        stroke-dashoffset: -64px;
      }
    }
  }
}

.mobile-nav {
  @media (min-width: 992px) {
    display: none;
  }

  z-index: 101;
  background: #fff;
  position: fixed;
  top: 74px;
  left: 0;
  width: 100%;
  height: calc(100% - 74px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  &-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .menu-item {
      a {
        color: #000;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 34px;
        text-decoration: none;
      }
    }

    .current-menu-item,
    .current_page_parent {
      a {}
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

#wpadminbar {
  bottom: 0;
  top: inherit;
  transform: translateY(32px);
  transition-duration: .5s;

  &:hover {
    transform: translateY(0px);

  }
}